footer {
    display: flex;
    background-color: #252525;
    width: 100%;
    min-width: 300px;
    padding: 15px;
    /*font-family: Microsoft Sans Serif;*/
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    color: #ffffff;
    margin: auto;
    cursor: pointer;
    text-align: center;
}
footer .left {
    text-align: center;
}