* {
    padding: 0;
    margin: 0;
}
/*body {
    background-color: #ffffff;
}
header {
    background: #abababab;
    color: #fff;
    height: 50px;
}*-/
/* ----- ----- ----- ----- BOTONES LINEAS ------ ----- ----- -----*/

header a img:hover {
    background: #1f1d1d;
    cursor: pointer;
}
/* ----- ----- ----- BOTON CERRAR LEFT Y RIGTH ----- ----- -----*/

/* ----- ----- ----- MENU LEFT ----- ----- -----*/

header .pushbar .pushbar-menu-padre-left {
    padding-top: 30px;
    cursor: pointer;
    padding-left: 0;
}
header .pushbar .pushbar-menu-padre-left li {
    height: 50px;
    padding-top: 5px;
    padding-left: 5px;
    cursor: pointer;
}
header .pushbar .pushbar-menu-padre-left li:hover {
    height: 50px;
    background: #1f1d1d;
    cursor: pointer;
}
header .pushbar .pushbar-menu-padre-left li .pushbar-nombre-left {
    color: #ffffff;
    padding-left: 30px;
    height: 50px;
    cursor: pointer;
}
header .pushbar .pushbar-menu-padre-left .pushbar-nombre-left:hover {
    height: 50px;
    width: 100%;
    background: #1f1d1d;
    cursor: pointer;
}
header .pushbar .pushbar-menu-padre-left a {
    text-decoration: none;
}
header .pushbar .pushbar-menu-padre-left .pushbar-icono-left:hover {
    height: 50px;
    background: #1f1d1d;
    cursor: pointer;
}
/* ----- ----- ----- MENU RIGTH ----- ----- -----*/

header .pushbar .pushbar-menu-padre-rigth a {
    text-decoration: none;
}
header .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth {
    margin-top: 40px;
    margin-left: 18px;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td {
    height: 40px;
    padding: 3px;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td a:hover {
    background: #1f1d1d;
}
header .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td:hover {
    background: #1f1d1d;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos li {
    height: 40px;
    padding-top: 6px;
    padding-left: 5px;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos li .pushbar-nombre-rigth {
    margin-left: 100px;
    color: #ffffff;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos li .pushbar-nombre-rigth:hover {
    background: #1f1d1d;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos li .pushbar-icono-rigth {
    padding-left: 50px;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos li:hover {
    height: 50px;
    background: #1f1d1d;
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-iconos .pushbar-icono-rigth:hover {
    height: 50px;
    background: #1f1d1d;
    cursor: pointer;
}
/* ----- ----- ----- MENU TOP ----- ----- -----*/

header .pushbar-joss {
    margin-left: 0px;
}
header .sistema-joss {
    font-size: 25px;
    color: #ffffff;
    text-decoration: none;
    padding-top: 6px;
}
header img:hover {
    cursor: pointer;
}
header .pushbar .pushbar-cuadros-top .pushbar-iconos-top {
    margin: auto;
    margin-top: 10px;
    font-size: 50px;
    cursor: pointer;
}
/* ----- ----- ----- MENU ORILLA ----- ----- -----

form {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #FCFCFC;
}
/* ----- ----- ----- 800 px ----- ----- -----*/

@media (max-width: 800px) {
    header ul .navbar-header img {
        display: none;
    }
    header .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {
        height: 100px;
        margin-right: 7px;
    }
}
/* ----- ----- ----- 700 px ----- ----- -----*/

@media (max-width: 767) {
    header .sis-joss-div {
        padding-bottom: -100px;
    }
}
@media (max-width: 700px) {
    header .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {
        height: 90px;
    }
}
/* ----- ----- ----- 600 px ----- ----- -----*/

@media (max-width: 600px) {
    header .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {
        height: 80px;
        margin-bottom: 10px;
    }
}
/* ----- ----- ----- 500 px ----- ----- -----*/

@media (max-width: 500px) {
    .pushbar-joss {
        height: 45px;
        margin-top: 5px;
    }
    header .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {
        height: 70px;
        margin-top: -5px;
    }
}
/* ----- ----- ----- 400 px ----- ----- -----*/

@media (max-width: 400px) {
    footer {
        font-size: 9px;
        text-align: center;
    }
    header .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {
        height: 60px;
    }
}
/* ----- ----- ----- 350 px ----- ----- -----*/

@media (max-width: 350px) {
    .pushbar-joss {
        display: none;
    }
}
.ir-arriba {
    display: none;
    padding: 10px;
    background-color: #4F4E4E;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    position: fixed;
    bottom: 12px;
    right: 15px;
}