header-pushbar a img:hover {

    background: #1f1d1d;

    cursor: pointer;

}

/* ----- ----- ----- BOTON CERRAR LEFT Y RIGTH ----- ----- -----*/



/* ----- ----- ----- MENU LEFT ----- ----- -----*/



header-pushbar .pushbar .pushbar-menu-padre-left {

    padding-top: 15px;

    cursor: pointer;

    padding-left: 0;

}

header-pushbar .pushbar .pushbar-menu-padre-left li {

    height: 50px;

    padding-top: 5px;

    padding-left: 5px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-menu-padre-left li:hover {

    height: 50px;

    background: #1f1d1d;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-menu-padre-left li .pushbar-nombre-left {

    color: #ffffff;

    padding-left: 30px;

    height: 50px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-menu-padre-left .pushbar-nombre-left:hover {

    height: 50px;

    width: 100%;

    background: #1f1d1d;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-menu-padre-left a {

    text-decoration: none;

}

header-pushbar .pushbar .pushbar-menu-padre-left .pushbar-icono-left:hover {

    height: 50px;

    background: #1f1d1d;

    cursor: pointer;

}

/* ----- ----- ----- MENU RIGTH ----- ----- -----*/



header-pushbar .pushbar .pushbar-menu-padre-rigth a {

    text-decoration: none;

}

header-pushbar .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth {

    margin-top: 40px;

    margin-left: 18px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td {

    height: 40px;

    padding: 3px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td a:hover {

    background: #1f1d1d;

}

header-pushbar .pushbar .pushbar-cuadros-iconos .pushbar-iconos-rigth td:hover {

    background: #1f1d1d;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos li {

    height: 40px;

    padding-top: 6px;

    padding-left: 5px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos li .pushbar-nombre-rigth {

    margin-left: 100px;

    color: #ffffff;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos li .pushbar-nombre-rigth:hover {

    background: #1f1d1d;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos li .pushbar-icono-rigth {

    padding-left: 50px;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos li:hover {

    height: 50px;

    background: #1f1d1d;

    cursor: pointer;

}

header-pushbar .pushbar .pushbar-cuadros-iconos .pushbar-icono-rigth:hover {

    height: 50px;

    background: #1f1d1d;

    cursor: pointer;

}





/* ----- ----- ----- 800 px ----- ----- -----*/
header-pushbar {

    background: transparent;

    height: 50px;

    }



    .navbar-header {

        background-color: #7e5d5d00;

        position: fixed;

        left: 0;

        z-index: 1000;

        height: 84px;

        width: 100%;

    }

    #lineas-b {

        margin-top: -10px;

        cursor: pointer;

        width: 50px;

        height: 50px;

    }

    #lineas-n {

        display: none;



    }

    a:hover {

        text-decoration: none;

    }



    ul a li{

        color: #ffffff;

        list-style: none;

    }



    ul a li img{

        margin-right: 0px;

    }

    .top-icono{

        padding: 3px;

    }

    .back{

    float: right;

    padding-right: 15px;

    padding-top: 5px;

    }



  .pushbar-span {

    background-color: transparent;

    color: #ffffff;

    cursor: pointer;

    font-size: 15px;

    font-weight: 800;

    float: right;

    padding: 10px;

    border: transparent;

  }



  .pushbar-span:hover {

    color: #FF0000;

  }



  .menu-opciones {

    margin-top: 30px;

    padding: 0;

  }

  .icono-menu {

    float: right;

    padding-top: 10px;

    font-size: 10px;

  }



  .icono-menu-exit {

    float: right;

    font-size: 20px;

  }



  @media (max-width: 767px) {

    #nav{

        display: none;

    }

    #lineas-n{

        display: block;

        float: right;

        margin-right: -10px;

        cursor: pointer;

        z-index: 2000;

    }

    form{

        margin-top: -15px;

    }

    #lineas-b{

        margin-top: -12;

    }

}




@media (max-width: 800px) {

    header-pushbar ul .navbar-header img {



    }

    header-pushbar .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {

        height: 100px;

        margin-right: 7px;

    }

}

/* ----- ----- ----- 700 px ----- ----- -----*/





@media (max-width: 767) {

    header-pushbar .sis-joss-div {

        padding-bottom: -100px;

    }

}

@media (max-width: 700px) {

    header-pushbar .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {

        height: 90px;

    }

}

/* ----- ----- ----- 600 px ----- ----- -----*/



@media (max-width: 600px) {

    header-pushbar .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {

        height: 80px;

        margin-bottom: 10px;

    }

}

/* ----- ----- ----- 500 px ----- ----- -----*/



@media (max-width: 500px) {

    .pushbar-joss {

        height: 45px;

        margin-top: 5px;

    }

    header-pushbar .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {

        height: 70px;

        margin-top: -5px;

    }

}

/* ----- ----- ----- 400 px ----- ----- -----*/



@media (max-width: 400px) {

    footer {

        font-size: 9px;

        text-align: center;

    }

    header-pushbar .pushbar .pushbar-cuadros-top .pushbar-iconos-top img {

        height: 60px;

    }

}

/* ----- ----- ----- 350 px ----- ----- -----*/



@media (max-width: 350px) {

    .pushbar-joss {

        display: none;

    }

}

.ir-arriba {

    display: none;

    padding: 10px;

    background-color: #4F4E4E;

    font-size: 20px;

    color: #ffffff;

    cursor: pointer;

    position: fixed;

    bottom: 12px;

    right: 15px;

}



.pushbar.opened {

    display: block;

}

html.pushbar_locked {

    overflow: hidden;

    -ms-touch-action: none;

    touch-action: none;

}

.pushbar_locked .pushbar_main_content.pushbar_blur {

    filter: blur(15px);

}

.pushbar {

    z-index: 2000;

    position: fixed;

    will-change: transform;

    overflow-y: auto;

    transition: transform 0.5s ease;

    will-change: transform;

    background: #272727;

}

.pushbar_overlay {

    z-index: -999;

    position: fixed;

    width: 100%;

    max-width: 100%;

    height: 100%;

    min-height: 100vh;

    top: 0;

    left: 0;

    will-change: opacity;

    transition: opacity 0.5s ease;

    opacity: 0;

    will-change: opacity;

    background: #272727;

}

html.pushbar_locked .pushbar_overlay {

    opacity: 0.8;

    z-index: 999;

    transition: opacity 0.5s ease;

}

.pushbar.from_left {

    top: 0;

    left: 0;

    width: 256px;

    max-width: 100%;

    height: 100%;

    min-height: 100vh;

    transform: translateZ(0) translateX(-100%);

}

.pushbar.from_right {

    top: 0;

    right: 0;

    width: 260px;

    max-width: 100%;

    height: 100%;

    min-height: 100vh;

    transform: translateZ(0) translateX(100%);

}

.pushbar.from_top {

    top: 0;

    left: 0;

    width: 100%;

    max-width: 100%;

    min-height: 130px;

    transform: translateZ(0) translateY(-100%);

}

.pushbar.from_bottom {

    bottom: 0;

    left: 0;

    width: 100%;

    max-width: 100%;

    min-height: 150px;

    transform: translateZ(0) translateY(100%);

}

.pushbar.opened {

    transform: translateX(0px) translateY(0px);

}

/*RESPONSIVE***************************/



@media (max-width: 800px) {

    .pushbar.from_top {

        min-height: 120px;

    }

}

@media (max-width: 700px) {

    .pushbar.from_top {

        min-height: 110px;

    }

}

@media (max-width: 600px) {

    .pushbar.from_top {

        min-height: 90px;

    }

}

@media (max-width: 400px) {

    .pushbar.from_top {

        min-height: 70px;

    }

}
